@using PhotoSharingApplication.Core.Models
@model List<Photo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (Photo photo in Model)
{
<div>
    <partial name="_photo_panel" model="photo" />
    <div>
        <a asp-action="Details" asp-route-id="@photo.Id">Click here to go to the details of this photo</a>
    </div>
</div>
}