@using PhotoSharingApplication.Core.Models
@model Photo

@{
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <partial name="_photo_panel" />
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="AllPhotos">Back to List</a>
</div>

<div id="comments" class="card">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="comment in comments"><h4>{{comment.title}}</h4> <quote>{{comment.body}}</quote></li>
        </ul>
    </div>
    <div class="card-footer">
        Title: <input type="text" class="form-control" v-model="comment.title" />
        Body: <textarea class="form-control" v-model="comment.body"></textarea>
        <button v-on:click="addComment" class="btn">Send Comment</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#comments',
        data: {
            comments: [],
            comment : {
                        "id": 0,
                        "title": "",
                        "body": "",
                        "photoId": @Model.Id
                    }
        },
        created() {
            fetch('/api/Photo/@Model.Id/Comments')
                .then(response => response.json())
                .then(data => this.comments = data);
        },
        methods: {
            addComment() {
                fetch('/api/Comments', {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.comment)
                })
                    .then(response => response.json())
                    .then(data => this.comments.push(data));
            }
        }
    })
</script>
