@page
@model WebApplicationRazorPages.Pages.Simo.SayHiModel
@{
}

<h1>Oh HI!</h1>

<div id="car">
    <div>Id: </div>
    <div>@Model.MyModel_Car.Id</div>

    <div>Brand: </div>
    <div>@Model.MyModel_Car.Brand</div>

    <div>Name: </div>
    <div>@Model.MyModel_Car.Name</div>

    <div>Price: </div>
    <div>@Model.MyModel_Car.Price</div>
</div>
